* {
    font-family: sans-serif;
}

body {
    background-color: #000;
    background: url(images/main42.jpg) no-repeat;
    background-size: 100%;
}

.login-div {
    margin: 100px auto;
    width: 350px;
    background-color: rgba(116, 0, 0, 0);
    padding: 60px;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.logo img {
    width: 100%;
}

.title, .sub-title {
    text-align: center;
    color: rgb(216, 20, 20);
}

.title {
    font-weight: bolder;
    font-size: 35px;
}

.sub-title {
    font-size: 15px;
}

.form {
    width: 100%;
    margin-top: 25px;
}

.form input {
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;
}

.username, .password {
    display: block;
    border-radius: 30px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
}

.form svg {
    height: 25px;
    margin-bottom: -5px;
    margin-left: 10px;
    margin-right: 5px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
}

button.signin-btn {
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    background-color: #000;
    color: rgb(250, 248, 248);
    margin-bottom: 5px;
}

.sign-up {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(22, 22, 22);
}